<div class="home-container">
  <app-jumbotron></app-jumbotron>
  <app-hero-banner></app-hero-banner>
  <app-artworks-gallery></app-artworks-gallery>

  <app-artist-passion
    titleKey="ARTIST_PASSION.TITLE_TRAVEL"
    descriptionKey="ARTIST_PASSION.DESCRIPTION_TRAVEL"
  ></app-artist-passion>

  <app-exhibitions></app-exhibitions>

  <app-artist-passion
    titleKey="ARTIST_PASSION.TITLE_EXHIBITION"
    descriptionKey="ARTIST_PASSION.DESCRIPTION_EXHIBITION"
  ></app-artist-passion>

  <app-artist-inspiration></app-artist-inspiration>

  <!--
  Footer
  <footer>
    <p>{{ 'FOOTER.COPYRIGHT' | translate }}</p>
    <div class="social-media-icons">
      <a href="#">Facebook</a>
      <a href="#">Instagram</a>
    </div>
  </footer> -->
</div>
