<div class="home-container">
  <!-- Hero Banner Section -->
  <app-hero-banner>

  </app-hero-banner>

  <!-- Featured Gallery Section -->
  <section class="feature-gallery">
    <h2>{{ 'GALLERY.TITLE' | translate }}</h2>
    <div class="carousel-container">
      <div class="carousel">
        <div class="carousel-slide">
          <img src="../../../assets/galleria/24.jpg" alt="Artwork 1">
          <p>{{ 'GALLERY.ARTWORK1_DESCRIPTION' | translate }}</p>
        </div>
        <div class="carousel-slide">
          <img src="../../../assets/galleria/aa.jpg" alt="Artwork 2">
          <p>{{ 'GALLERY.ARTWORK2_DESCRIPTION' | translate }}</p>
        </div>
        <div class="carousel-slide">
          <img src="../../../assets/galleria/bb.jpg" alt="Artwork 3">
          <p>{{ 'GALLERY.ARTWORK3_DESCRIPTION' | translate }}</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Artist Passion Section -->
  <section class="artist-passion">
    <h2>{{ 'ARTIST_PASSION.TITLE' | translate }}</h2>
    <p>{{ 'ARTIST_PASSION.DESCRIPTION' | translate }}</p>
    <img src="../../../assets/artist/artist.jpg" alt="{{ 'ARTIST_PASSION.IMAGE_ALT' | translate }}">
  </section>

  <!-- Exhibitions Section -->
  <section class="exhibitions">
    <h2>{{ 'EXHIBITIONS.TITLE' | translate }}</h2>
    <p>{{ 'EXHIBITIONS.DESCRIPTION' | translate }}</p>
    <div class="exhibition-grid">
      <div class="exhibition-item">
        <img src="../../../assets/mostre/capocomino.jpg" alt="{{ 'EXHIBITIONS.CAPOCOMINO_IMAGE_ALT' | translate }}">
        <p>{{ 'EXHIBITIONS.CAPOCOMINO_DESCRIPTION' | translate }}</p>
      </div>
      <div class="exhibition-item">
        <img src="../../../assets/mostre/isolatavolara.jpeg" alt="{{ 'EXHIBITIONS.ISOLATAVOLARA_IMAGE_ALT' | translate }}">
        <p>{{ 'EXHIBITIONS.ISOLATAVOLARA_DESCRIPTION' | translate }}</p>
      </div>
    </div>
  </section>

  <!-- Artist Inspiration Section -->
  <section class="artist-inspiration">
    <h2>{{ 'ARTIST_INSPIRATION.TITLE' | translate }}</h2>
    <p>{{ 'ARTIST_INSPIRATION.DESCRIPTION' | translate }}</p>
    <img src="../../../assets/mostre/bastione.jpeg" alt="{{ 'ARTIST_INSPIRATION.IMAGE_ALT' | translate }}">
  </section>

  <!-- Testimonials Section -->
  <app-testimonials></app-testimonials>

  <!-- Footer -->
  <footer>
    <p>{{ 'FOOTER.COPYRIGHT' | translate }}</p>
    <div class="social-media-icons">
      <a href="#">Facebook</a>
      <a href="#">Instagram</a>
    </div>
  </footer>
</div>
