<div class="container-pop">
  <h2 mat-dialog-title>{{ data.title }}</h2>
  <div mat-dialog-content>
    <img [src]="'../../../../assets/img/'+data.thumbnail" alt="{{ data.title }}" />
    <p><strong>Anno:</strong> {{ data.year }}</p>
    <p><strong>Dimensioni:</strong> {{ data.dimensions.height }} * {{ data.dimensions.width }}</p>
    <p><strong>Tecnica:</strong> {{ data.technique | translate }}</p>
    <p><strong>Descrizione:</strong> {{ data.descrizioneKey | translate }}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onClose()">Chiudi</button>
    <button mat-raised-button color="primary">Contatta per quest'opera</button>
  </div>
</div>
