.container-pop{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
  text-align: center;
  max-height: 70vh;
  overflow-y: scroll;
  img{
    max-width: 100%;
    max-height: 40vh;
    text-align: center;
  }
  button{
    margin: 10px;
  }
}
