.container-pop {
  text-align: center;
  max-height: 60vh;
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    & > div {
      max-width: 400px;
      text-align: center;
    }
  }
  // Stili per i browser Webkit (Chrome, Safari, Edge)
  &::-webkit-scrollbar {
    width: 4px; // Larghezza della barra di scorrimento
    height: 8px; // Altezza della barra di scorrimento (per scorrimento orizzontale)
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(
      0,
      0,
      0,
      0.3
    ); // Colore della "thumb" (la parte che si muove)
    border-radius: 10px; // Bordo arrotondato per un aspetto più elegante
    transition: background-color 0.3s ease; // Transizione per cambiamento colore

    &:hover {
      background-color: rgba(
        0,
        0,
        0,
        0.6
      ); // Colore più scuro al passaggio del mouse
    }
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(
      0,
      0,
      0,
      0.05
    ); // Colore della traccia della barra di scorrimento
    border-radius: 10px; // Bordo arrotondato per coerenza con la "thumb"
  }

  // Stili per Firefox
  scrollbar-width: 4px; // Imposta una barra di scorrimento sottile
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.05); // Colore della thumb e del track
  h3 {
    font-weight: bolder;
  }
  img {
    max-width: 100%;
    max-height: 40vh;
    text-align: center;
  }
  button {
    margin: 10px;
  }
}
.action-buttons {
  display: flex;
  flex-direction: column;
  button {
    min-width: 100%;
  }
}
.artwork-detail {
  position: relative;
  width: 100%;
}

mat-expansion-panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: white;
}
.container-reviews {
  max-height: 35vh;
  overflow-y: scroll;
}
