.container-pop{
 text-align: center;
  margin: 30px 15px;
  text-align: center;
  max-height: 60vh;
  overflow-y: scroll;
  img{
    max-width: 100%;
    max-height: 40vh;
    text-align: center;
  }
  button{
    margin: 10px;
  }
}
