<section>
  <h1>Admin Dashboard</h1>
  <h3>Gestisci i tuoi dati</h3>
  <div class="container-choise">
    <button routerLink="artworks" mat-raised-button color="primary">
      <h3>Quadri</h3>
    </button>
    <button mat-raised-button color="primary">
      <h3>Commenti</h3>
    </button>
    <button mat-raised-button color="primary">
      <h3>Statistiche</h3>
    </button>
    <button mat-raised-button color="primary">
      <h3>Vendite</h3>
    </button>
    <button mat-raised-button color="primary">
      <h3>Anagrafiche</h3>
    </button>
    <button mat-raised-button color="primary">
      <h3>Collaborazioni</h3>
    </button>
  </div>
</section>
