/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'title';
  src: url('./assets/font/Gruppo/Gruppo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
p,h1,h2,h3,span,label,input,select,option,button,*{
  font-family: 'title';
  font-weight: 900;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
