<h1>Statistiche del Sito</h1>
<div class="dashboard-container">

  <!-- Statistiche Temporali delle Opere d'Arte -->
  <div class="statistic-card">
    <h2>{{selectedInteractionType=='viewArtwork'?'Andamento delle Interazioni delle Opere d Arte':'Andamento degli inserimenti nei Carts'}}</h2>
    <!-- Filtro per tipo di interazione -->
    <div class="filter-container">
      <p>Seleziona il tipo di interazione da visualizzare:</p>
      <button [disabled]="selectedInteractionType=='viewArtwork'" mat-raised-button color="primary" [ngClass]="selectedInteractionType=='viewArtwork'?'active':'disabled'" (click)="setInteractionType('viewArtwork')" >Visualizzazioni</button>
      <button [disabled]="selectedInteractionType!='viewArtwork'" mat-raised-button [ngClass]="selectedInteractionType!='viewArtwork'?'active':'disabled'" (click)="setInteractionType('addToCart')" >Aggiunte al Carrello</button>
    </div>
    <ngx-charts-line-chart
      *ngIf="filteredTrendsStats$ | async as trendsStats"
      [results]="trendsStats"
      [view]="[300, 300]"
      [scheme]="'cool'"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [legendPosition]="legendPosition"
      [showXAxisLabel]="true"
      [xAxisLabel]="'Data'"
      [showYAxisLabel]="true"
      [yAxisLabel]="selectedInteractionType=='viewArtwork'?'Numero di Interazioni':'Inserimenti nei Carts'"
      [autoScale]="true">
    </ngx-charts-line-chart>

  </div>

  <div class="small-container">
      <!-- Visualizzazioni Totali -->
  <div class="statistic-card small">
    <h2>Numero Totale di Visualizzazioni</h2>
    <ngx-charts-number-card
      [results]="[{ name: 'Visualizzazioni', value: totalViews$ | async }]">
    </ngx-charts-number-card>
  </div>

  <!-- Aggiunte al Carrello Totali -->
  <div class="statistic-card small">
    <h2>Numero Totale di Aggiunte al Carrello</h2>
    <ngx-charts-number-card
      [results]="[{ name: 'Aggiunte al Carrello', value: totalAddToCart$ | async }]">
    </ngx-charts-number-card>
  </div>
  </div>

  <!-- Distribuzione Attività Utenti (Loggati vs Anonimi) -->
  <div class="statistic-card">
    <h2>Distribuzione Attività Utenti</h2>
    <ngx-charts-bar-vertical
    [view]="[300, 300]"
      [results]="[
        { name: 'Utenti Loggati', value: (userEventsStats$ | async)?.loggedIn },
        { name: 'Utenti Anonimi', value: (userEventsStats$ | async)?.anonymous }
      ]"
      [scheme]="'cool'"
      [xAxis]="true"
      [yAxis]="true">
    </ngx-charts-bar-vertical>
  </div>


  <!-- Statistiche Geografiche delle Interazioni -->
  <div class="statistic-card">
    <h2>Distribuzione Geografica delle Interazioni</h2>
    <ngx-charts-pie-chart
    [view]="[300, 300]"
      *ngIf="locationStats$ | async as locationStats"
      [results]="locationStats"
      [scheme]="'vivid'"
      [legend]="true"
      [legendPosition]="legendPosition"
      [labels]="true"
      [doughnut]="false"
      [explodeSlices]="true">
    </ngx-charts-pie-chart>
  </div>
</div>
