<section>
  <iframe
    src="https://www.youtube.com/embed/kfuAqD3eux4?si=FbhEON_N5YMS0oP0"
    title="Intervista Alex daTorres"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen=""
  ></iframe>
  <div class="container_contact">
    <div class="contact_us">
      <a
        href="https://www.facebook.com/a.satta74"
        target="_blank"
        aria-label="Facebook"
      >
        <img src="../../../assets/icon/facebook.svg" alt="Facebook a.satta74" />
      </a>
      <a
        href="https://wa.me/+393401234567"
        target="_blank"
        aria-label="WhatsApp"
      >
        <img
          src="../../../assets/icon/whatsapp-svgrepo-com.svg"
          alt="WhatsApp +393401234567"
        />
      </a>
      <a
        href="mailto:alexdatorres@hotmail.com"
        target="_blank"
        aria-label="Email"
      >
        <img
          src="../../../assets/icon/email-svgrepo-com.svg"
          alt="Email alexdatorres@hotmail.com"
        />
      </a>
    </div>
    <p>
      Il mio viaggio nell'arte è stato un percorso che ha toccato mete
      affascinanti, attraverso mostre nelle città d'arte come Venezia, Milano e
      Roma. Il Festival Internazionale di Berlino è stato uno dei traguardi più
      significativi. La Mondadori e Arte hanno gentilmente riconosciuto il mio
      lavoro. "Il molo turritano" celebra Porto Torres, mentre "L'isola di
      Tavolara" e "Capo Comino" hanno trovato spazio nel film "Free," con attori
      straordinari come Sandra Milo ed Enzo Salvi. La mia arte è in costante
      evoluzione, alimentata dalla passione che riverso in ogni opera.
    </p>
    <div class="contact_us">
      <a
        href="https://www.facebook.com/a.satta74"
        target="_blank"
        aria-label="Facebook"
      >
        <img src="../../../assets/icon/facebook.svg" alt="Facebook a.satta74" />
      </a>
      <a
        href="https://wa.me/+393401234567"
        target="_blank"
        aria-label="WhatsApp"
      >
        <img
          src="../../../assets/icon/whatsapp-svgrepo-com.svg"
          alt="WhatsApp +393401234567"
        />
      </a>
      <a
        href="mailto:alexdatorres@hotmail.com"
        target="_blank"
        aria-label="Email"
      >
        <img
          src="../../../assets/icon/email-svgrepo-com.svg"
          alt="Email alexdatorres@hotmail.com"
        />
      </a>
    </div>
    <p>
      Un viaggio nell'arte tra le righe di "CAM catalogo dell'arte moderna,"
      "Libertà," "La Nuova Sardegna," e "Oraquadra.info." Qui le pennellate
      della mia passione prendono vita, raccontando storie di mostre e dipinti
      che si fondono con il mio percorso artistico.
    </p>
    <p>
      L'arte è la mia passione più profonda, un'ispirazione che affonda le
      radici nella Sardegna, la mia terra d'origine. Sebbene ora io risieda a
      Piacenza, la bellezza e la cultura della Sardegna sono sempre presenti
      nelle mie opere. La mia avventura artistica ha raggiunto traguardi
      sorprendenti, tra cui la presentazione una delle opera al Vaticano. Questo
      viaggio nell'arte è un continuo ritorno alle mie radici e un'explorazione
      della bellezza che mi circonda.
    </p>
  </div>
</section>
