<footer class="footer">
  <div class="footer-content">
    <div class="social-media">
      <a href="https://www.facebook.com/a.satta74" target="_blank" aria-label="Facebook">
        <img src="../../../assets/icon/facebook.svg" alt="Facebook a.satta74">
      </a>
      <a href="https://wa.me/+393401234567" target="_blank" aria-label="WhatsApp">
        <img src="../../../assets/icon/whatsapp-svgrepo-com.svg" alt="WhatsApp +393401234567">
      </a>
      <a href="mailto:alexdatorres@hotmail.com" target="_blank" aria-label="Email">
        <img src="../../../assets/icon/email-svgrepo-com.svg" alt="Email alexdatorres@hotmail.com">
      </a>

    </div>
    <div class="footer-info">
      <p>&copy; 2024 Alex Da Torres. Tutti i diritti riservati ValhallaWebApp.</p>
      <p>Italia</p>
    </div>
    <div class="footer-links">
      <a href="/privacy-policy" target="_self">Privacy Policy</a> |
      <a href="/terms-conditions" target="_self">Termini e Condizioni</a> |
      <a href="/contact" target="_self">Contatti</a>
    </div>
  </div>
</footer>
