<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" placeholder="Inserisci la tua email" required>
      <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        L'indirizzo email non è valido
      </mat-error>
    </mat-form-field>
<br>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" placeholder="Inserisci la tua password" required>
      <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        La password è richiesta
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Accedi</button>
  </form>
</div>
