@font-face {
  font-family: 'title';
  src: url('../../../assets/font/Gruppo/Gruppo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
p,h1,h2,h3,span,label,input,select,option,button{
  font-family: 'title';
  font-weight: 900;
}
.gallery-container {
  font-family: 'title';
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.artwork-count {
  font-size: 1.2rem;
  color: #757575;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.card-filter {
  flex: 1 1 200px;
  margin: 10px;
}

.reset-button {
  display: flex;
  align-items: center;
}

.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
}

.card {
  flex: 1 1 calc(25% - 20px);
  background-color: #ffffffa0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: center;
  margin: 5px;
}

.card img {
 height: 250px;
  border-radius: 5px;
}
h3{
  font-size: 1.5rem;

}
.artwork-year {
  color: #757575;
  font-size: 0.9rem;
}

.rating {
  margin-top: 10px;
}

.rating mat-icon {
  font-size: 24px;
  cursor: pointer;
  color: #d3d3d3;
}

.rating mat-icon.active {
  color: #ffca28;
}

/* Media Queries per rendere la galleria responsive */
@media (max-width: 1024px) {
  .card {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 100%;
  }
}
