<section>
  <div>
    <h2>GALLERIA 2D</h2>
    <div class="container">
      <div class="card-filter">
        <mat-form-field appearance="fill">
          <mat-label>Tecnica</mat-label>
          <mat-select [(ngModel)]="selectedTecnica" (ngModelChange)="filtered()">
            <mat-option value="">-----</mat-option>
            <mat-option value="acrilico">Acrilico</mat-option>
            <mat-option value="olio">Olio</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="card-filter">
        <mat-form-field appearance="fill">
          <mat-label>Titolo</mat-label>
          <input
            matInput
            [(ngModel)]="searchTitle"
            (ngModelChange)="filtered()"
            type="text"
            placeholder="Cerca per titolo"
          />
        </mat-form-field>
      </div>

      <div class="card-filter">
        <mat-form-field appearance="fill">
          <mat-label>Anno</mat-label>
          <input
            matInput
            [(ngModel)]="searchYear"
            (ngModelChange)="filtered()"
            type="number"
            placeholder="Anno"
          />
        </mat-form-field>
      </div>

      <div class="card-filter">
        <mat-form-field appearance="fill">
          <mat-label>Ordine</mat-label>
          <mat-select [(ngModel)]="selectedOrder" (ngModelChange)="filtered()">
            <mat-option value="0">Popolari</mat-option>
            <mat-option value="1">Data crescente</mat-option>
            <mat-option value="2">Data decrescente</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card" *ngFor="let artWork of filteredArtworksArray">
      <img src="../../../../../{{ artWork.thumb }}" alt="" />
      <h3>{{ artWork.nome }}</h3>
    </div>
  </div>
</section>
