<section class="feature-gallery">
  <h1>{{ 'GALLERY.TITLE' | translate }}</h1>
  <div class="gallery-container">
    <div class="gallery-item" *ngFor="let artwork of artworks" >
      <div class="image-wrapper">
        <img src="../../../../../assets/img/{{artwork?.thumbnail}}" [alt]="artwork.title | translate" class="artwork-image">
      </div>
      <div class="artwork-caption">
        <h3>{{ artwork?.title | translate }}</h3>
        <!-- <p>{{ artwork.descriptionKey | translate }}</p> -->
        <p>{{ artwork.technique | translate}}</p>
        <button class="artwork-details-button" (click)="openArtworkDialog(artwork)">{{ 'VIEW_DETAILS' | translate }}</button>
      </div>
    </div>
  </div>
</section>
