/* Definizione della Palette */
$dark-text: #2e2e2e; /* Marrone scuro per il testo */
$link-color: #705d56; /* Marrone chiaro per i link */
.filter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(242, 204, 209, 0.354);
  width: 100%;
  height: 100%;
}
/* Stile per la Toolbar */
.app-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; /* Altezza dell'header */
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Posiziona le icone ai lati */
    padding: 10 16px;
    background-color: bisque;
    background-image: url('../../../assets/icon/decor_viola_ghost.png'); /* Percorso dell'immagine di sfondo */
    // background-size: cover; /* Copre l'intero header */
    background-repeat: no-repeat;
    background-position: center;
    color: #2e2e2e; /* Testo in colore scuro per contrasto */
    box-shadow: 3px 3px 3px #e8b9c1;
    border-radius: 0 5px 5px 0;
    /* Overlay per migliorare la leggibilità */
    &::before {
    box-shadow: 3px 3px 3px #6c6b6b9c;
    border-radius: 0 5px 5px 0;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      z-index: -1; /* Metti l'overlay sotto gli elementi dell'header */
    }
  }

  /* Stile per l'icona del menu (hamburger) */
  .menu-icon {
    color: #2e2e2e; /* Colore dell'icona */
    font-size: 1.8rem; /* Dimensione leggermente più grande per visibilità */
  }

  /* Stile per il titolo dell'header */
  .header-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #2e2e2e; /* Colore del testo */
    margin-left: 16px; /* Spazio per separare dal menu */
  }

  /* Stile per l'icona di download */
  .download-icon {
    color: #2e2e2e;
    font-size: 1.8rem;
  }


/* Stile per l'icona del menu (hamburger) */
.menu-icon {
  margin-right: 16px;
  color: $link-color; /* Icona in marrone chiaro */
}

/* Stile per il titolo dell'header */
.header-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: $dark-text; /* Testo marrone scuro */
}

/* Contenitore del sidenav */
.sidenav-container {
  height: 100vh;
  padding-top: 80px; /* Compensa l'altezza della toolbar */
  overflow: hidden;
}

/* Stile del sidenav */
.sidenav {
  width: 250px;
  background: #f5e4d7bc; /* Beige chiaro */
  background-image: url('../../../assets/icon/decor_ghost.png');
  color: $dark-text;
  z-index: 1500;
  padding: 100px 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 0 8px 8px 0;
}

/* Stile per i link nel sidenav */
.sidenav a {
  padding: 12px 24px;
  text-decoration: none;
  color: $link-color;
  display: flex;
  align-items: center;
  transition: background 0.3s, color 0.3s;
  border-bottom: 1px solid rgba(128, 128, 128, 0.548);
}

/* Cambia colore per il link attivo */
.sidenav a.active {
  background: #f4c2c2; /* Accenti rosa pastello */
}

/* Aggiungi una transizione per l'effetto hover */
.sidenav a:hover {
  background: #d3b8a7; /* Colore più chiaro per hover */
  color: $dark-text;
}

/* Aggiungi icone ai link */
.sidenav a::before {
  content: '\2022';
  font-size: 1.5rem;
  margin-right: 8px;
  color: $link-color;
}

/* Stile del contenuto principale */
.content-container {
  overflow-y: auto;
  height: calc(100vh - 64px);
  padding: 0px;
  background: bisque;
  color: $dark-text;
  background-image: url('../../../assets/icon/decor_ghost.png');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

/* Stile per i pulsanti aggiuntivi (come Email, WhatsApp, Facebook) */
.button {
  background: #f4c2c2;
  border: none;
  padding: 8px 16px;
  color: $dark-text;
  border-radius: 4px;
  transition: background 0.3s, transform 0.2s;

  &:hover {
    background: #d3b8a7;
    transform: translateY(-2px);
  }
}
.custom-select {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  margin-left: 5px;
  .selected-language {
    padding: 10px;
    background-color: #ffffffa5;
    border: 2px solid #2e2e2e;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 1rem;

    img {
      margin-right: 8px;
    }
  }

  .options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffffa4;
    border: 2px solid #2e2e2e;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;

    .option {
      padding: 10px;
      display: flex;
      align-items: center;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #f4c2c2;
      }

      img {
        margin-right: 8px;
      }
    }
  }
}
.magazzine-download-button{
  padding: 5px;
}
