<!-- src/app/components/register/register.component.html -->
<div class="register-container">
  <h2>Registrazione</h2>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <mat-form-field appearance="fill">
      <mat-label>Nome Completo</mat-label>
      <input matInput formControlName="fullName" />
      <mat-error *ngIf="registerForm.get('fullName')?.hasError('required')">
        Il nome completo è obbligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
      <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
        L'email è obbligatoria.
      </mat-error>
      <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
        Inserisci un'email valida.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
        La password è obbligatoria.
      </mat-error>
      <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">
        La password deve essere lunga almeno 6 caratteri.
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" >
      Registrati
    </button>
  </form>
</div>
