<div class="slideshow-container">
  <div class="slide" *ngFor="let slide of slides; let i = index" [ngClass]="{ 'active': i === currentSlideIndex }">
    <img height="300px" src="../../../{{slide.image}}" [alt]="slide.caption">
    <div class="cover-thumb"></div>
    <div class="caption">{{ 'HEADER.TITLE' | translate }}</div>
  </div>

  <!-- Navigation Arrows -->
  <button class="prev" (click)="previousSlide()">
    <img width="50px" src="../../../../../assets/svg/chevron-arrow-left-circle.svg" alt="">
  </button>
  <button class="next" (click)="nextSlide()">
    <img width="50px" src="../../../../../assets/svg/chevron-arrow-left-circle.svg" alt="">
  </button>

  <!-- Slide Indicators -->
  <div class="indicators">
    <span *ngFor="let slide of slides; let i = index" (click)="goToSlide(i)" [ngClass]="{ 'active-indicator': i === currentSlideIndex }"></span>
  </div>
</div>
