<section>
  <h1>Articoli</h1>
  <div class="container">
    <div class="minip" *ngFor="let article of articles">
      <div class="mg">
        <div class="clr"></div>
        <div class="group">
          <span>Articolo</span>
        </div>
      </div>
      <div
        class="av"
        [style.background-image]="'url(' + article.image + ')'"
      ></div>
      <div class="info">
        <span class="nome">{{ article.title }}</span>
        <!-- <span class="deets">{{ article.description }}</span> -->
      </div>
      <a
        class="plot"
        title="{{ article.title }}"
        [href]="article.link"
        target="_blank"
      >
        Visualizza Dettagli →
      </a>
    </div>
  </div>
</section>
