@font-face {
  font-family: 'title';
  src: url('../../../../../assets/font/Gruppo/Gruppo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
h1,h3,p{
  font-family: title;
  font-weight: 900;
  color: white;
  text-align: left;
   color: #705d56;
}
.exhibitions {
  text-align: center;
  margin: 0px auto;
  padding: 20px;
  background-color: rgba(242, 204, 209, 0.418);
}

.exhibition-grid {
  display: flex;
  align-items: stretch;
  overflow-x: scroll;
  max-width: 100vw;
  gap: 30px;
  padding: 10px 0px;
}

.exhibition-card {
  min-width: 60vw;
  max-width: 350px;
  background: var(--white);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s;
  background: rgba(255, 255, 255, 0.377);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.exhibition-card:hover {
  transform: translateY(-10px);
}

.exhibition-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.exhibition-details {
  padding: 15px;
  font-family: title;
  font-weight: 900;
  color: #705d56;
}

.exhibition-details h3 {
  font: 18px var(--display);
  color: var(--green);
  margin-bottom: 10px;
}

.exhibition-details p {
  font: 14px var(--mono);
  color: var(--terracotta);
}

.exhibition-link {
  background-color: rgba(162, 162, 248, 0.553);
  text-decoration: none;
  font: bold 12px var(--mono);
  color: var(--dterracotta);
  padding: 8px 12px;
  border: 1px solid var(--dterracotta);
  border-radius: 4px;
  display: inline-block;
  margin-top: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.exhibition-link:hover {
  background-color: var(--dterracotta);
  color: var(--white);
}
