<section class="exhibitions">
  <h1>{{ 'EXHIBITIONS.TITLE' | translate }}</h1>
  <div class="exhibition-grid">
    <div class="exhibition-card" *ngFor="let exhibition of exhibitions">
      <img [src]="exhibition.image" [alt]="exhibition.title" class="exhibition-image">
      <div class="exhibition-details">
        <h3>{{ exhibition.title }}</h3>
        <p>{{ exhibition.description }}</p>
        <a [href]="exhibition.link" target="_blank" class="exhibition-link">
          {{ 'VIEW_DETAILS' | translate }}
        </a>
      </div>
    </div>
  </div>
</section>
