<section>
  <h1>Modifica e gestisci i tuoi quadri</h1>
  <button mat-raised-button color="primary" (click)="addArtWork()">Aggiungi Quadro</button>
  <div class="container-artworks">
    <div class="artwork-card" *ngFor="let artWork of artworksArray">
      <div>
        <img src="{{artWork.thumbnail.includes('https://firebasestorage')?artWork.thumbnail:'../../../../../assets/img/'+artWork.thumbnail}}" alt="">
      </div>
      <div>
        <!-- creare un nuovo componente dialog che possa permettere la modifica del quadro  -->
        <button (click)="editArtwork(artWork)" mat-raised-button color="primary">
          Modifica
        </button>
        <button (click)="deleteArtwork(artWork)" mat-raised-button color="secondary">
          {{artWork.availability ? 'Nascondi': 'Visualizza'}}
        </button>
      </div>
    </div>
  </div>
</section>
