section{
  padding: 10px;
  background-color: rgba(242, 204, 209, 0.418);
  min-height: 80vh
}
.container-artworks{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .artwork-card{
    margin: 10px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.704);
    text-align: center;
    max-width: 300px;
    border-radius: 15px;
    button{
      margin: 5px;
    }
    img{
      max-height: 150px;
    }
  }
}
