<section>
  <div class="thumb">
    <img src="../../../assets/img ai/contact-us.webp" alt="contact-us" />
    <div class="info-text">
      <h1>Contattami per Colaborazioni</h1>
      <p>
        Ciao! Sono Alex da Torres, un artista appassionato e sempre pronto a
        esplorare nuove collaborazioni entusiasmanti e opportunità creative. Se
        sei alla ricerca di qualcosa di unico, vuoi aggiungere un tocco di arte
        autentica al tuo spazio, o desideri dare vita a un progetto speciale
        insieme, non vedo l'ora di sentirti!
      </p>
      <button
        (click)="openExternalLink('https://wa.me/+393401234567')"
        mat-raised-button
        color="primary"
      >
        Contattami
      </button>
      <app-contact-icon></app-contact-icon>
      <p>
        I miei lavori sono ricchi di storie, emozioni e tecniche diverse, con
        l'obiettivo di connettere le persone e dare forma a visioni uniche. Ogni
        quadro racconta qualcosa di speciale, e sono qui per condividere queste
        storie con chi, come te, ama l'arte. Se vuoi scoprire le opere
        disponibili, discutere di idee innovative o semplicemente lasciarti
        ispirare, contattami senza esitazione!
      </p>
      <button
        (click)="openExternalLink('https://wa.me/+393401234567')"
        mat-raised-button
        color="primary"
      >
        Contattami
      </button>

      <app-contact-icon></app-contact-icon>
      <p>
        Puoi scrivermi qui direttamente o tramite il mio profilo
        social/indirizzo email. Non vedo l'ora di creare qualcosa di
        straordinario insieme!
      </p>

      <p>A presto, Alex da Torres</p>
      <button
        (click)="openExternalLink('https://wa.me/+393401234567')"
        mat-raised-button
        color="primary"
      >
        Contattami
      </button>
      <app-contact-icon></app-contact-icon>>
    </div>
  </div>

</section>
